* {
  box-sizing: border-box;
}

body {
  background-color: rgb(46, 139, 87);
  border-radius: 20px;
  box-shadow: 0 6px 13px 0 black;
  margin: auto;
  padding: 20px;
  transition: all 1s;
  width: 70%;
}
